.logo{
    
    font-size: 5rem;
    color: var(--theme-color);
    font-weight: 900;
    margin: 0 ;
    padding: 0;
   
}
.logo-para{
    
    font-size: 1.5rem;
    font-weight: 700;
}
.font{
    font-family: var(--logo-font);
    
}
.logo{
    font-family: var(--heading-font);
}
.button{
    border: 2px solid  var(--theme-color);
   
   
    color: red;
}
.color-button{
    background: var(--theme-color);
    color: white;
}